body{
    text-align: center;
    background-color: rgb(187, 59, 187);
    color: aliceblue;
    margin: 100px;
}

input{
    margin: 15px;
    background-color: plum;
    border-color: white;
}

h1{
    font-family: cursive;
}

p{
    font-family: cursive;
}

button{
    margin-top: 20px;
    background-color: plum;
    border-color: white;
}

select{
    background-color: plum;
    border-color: white;
}