body{
    background-color: rgb(113, 106, 155);
    color: rgb(204, 208, 212);
    text-align: center;
    font-family: cursive;
    font-size: 20px;
}
.container{
    background-color: rgb(157, 138, 241);
    width: 40%;
    height: 40%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
button{
    background-color: rgb(94, 63, 231);
    color: rgb(255, 255, 255);
    font-family: cursive;
    border-radius: 10px;
    border-color: rgb(94, 63, 231);
}