body{
    text-align: center;
    margin-top: 120px;
    background-color: pink;
    color: aliceblue;
    font-family: cursive;
    font-size: 15px;
}
.container{
    background-color: rgb(255, 135, 191);
    margin: 200px;
    border-radius: 30px;
}
h1{
    text-align: center;
    color: aliceblue;
    font-family: cursive;
}

p{
    color: aliceblue;
    font-family: cursive;
}
button{
    margin-top: 30px;
    background-color: rgb(255, 118, 203);
    color: aliceblue;
    border-color: pink;
    border-radius: 20px;
    width: 120px;
    font-family: cursive;
}