body{
    background-color: rgb(58, 99, 211);
    color: rgb(184, 189, 194);
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    margin: 120px;
}

button{
    background-color: rgb(35, 87, 134);
    color: rgb(221, 221, 221);
    font-family: cursive;
    border-radius: 10px;
    border-color: rgb(99, 84, 233);
}